@tailwind base;

@layer base {
  body {
    @apply text-sm lg:text-base;
  }

  h1 {
    @apply text-5xl lg:text-7xl;
  }

  h2 {
    @apply text-2xl lg:text-4xl;
  }

  h3 {
    @apply text-xl lg:text-3xl;
  }

  h4 {
    @apply text-lg lg:text-xl;
  }

  p {
    @apply mb-4;
  }
}

@tailwind components;
@tailwind utilities;

/* Add background color to the entire website */
*,
*::after,
*::before {
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  font-display: swap; /* Prevents layout shift when rendering the page */
}

html {
  @apply bg-navy text-light-blue;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  counter-reset: section-title;
}

section {
  @apply max-w-full px-5 lg:px-0 mx-auto sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl;
}

section:not(:first-child) {
  @apply py-16;
}

pre {
  @apply -mb-1;
}

.header-shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07), 0 2px 2px rgba(0, 0, 0, 0.07), 0 4px 4px rgba(0, 0, 0, 0.07),
    0 8px 8px rgba(0, 0, 0, 0.07), 0 16px 16px rgba(0, 0, 0, 0.07), 0 32px 32px rgba(0, 0, 0, 0.07);
}

.link-underline {
  @apply px-1 py-0.25 duration-300;
  position: relative;
}

.link-underline::after {
  @apply absolute w-full bg-accent bottom-0 left-0 duration-300;
  content: '';
  z-index: -1;
  height: 3px;
}

.link-underline:hover::after {
  @apply h-full;
}

.link-underline:hover {
  @apply text-navy;
}

.blur {
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  backdrop-filter: saturate(180%) blur(10px);
}
