.ProjectImageRight:hover {
  margin-right: -2rem;
}

.ProjectImageRight:hover + .ProjectDetails {
  margin-left: -2rem;
}

.ProjectImageLeft:hover {
  margin-left: -2rem;
}

.ProjectImageLeft:hover + .ProjectDetails {
  margin-right: -2rem;
}

.ProjectDetails:hover {
  margin-bottom: 20px;
}
