.Nav {
  counter-reset: link;
}

.NavLink {
  padding: 3.5px 0px;
  transition: all 0.2s ease-in-out;
}

.NavLink::before {
  font-family: 'Roboto Mono', arial, sans-serif;
  counter-increment: link;
  content: '0' counter(link) '.';
  @apply text-accent;
}

.NavLink::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -3px;
  transition: all 0.5s;
  width: 0;
  height: 2px;
  @apply bg-accent;
}

.NavItem:hover .NavLink::after {
  left: 0;
  width: 100%;
}

.MobileMenu {
  counter-reset: link;
  @apply py-2;
}

.MobileMenu > span {
  @apply bg-light-blue;
  width: 25px;
  height: 1.5px;
  transition-property: margin-top, transform;
  transition-duration: 0.3s;
  margin: 0;
}

.MobileMenu > span:first-child {
  transition-delay: 0s, 0.5s;
  transition-property: transform, margin-bottom;
  transform: rotate(0);
  margin-bottom: 3.5px;
}

.MobileMenu > span:last-child {
  transition-delay: 0s, 0.5s;
  transition-property: transform, margin-bottom;
  transform: rotate(0);
  margin-top: 3.5px;
}

.MobileMenuActive > span:first-child {
  transition-delay: 0s, 0.5s;
  transition-property: margin-top, transform;

  transform: rotate(45deg);
  margin-bottom: 0;
  margin-right: -1.5px;
}

.MobileMenuActive > span:last-child {
  transition-delay: 0s, 0.5s;
  transition-property: margin-top, transform;

  transform: rotate(-45deg);
  margin-top: -1.5px;
}
