.OtherProjects {
  background-image: linear-gradient(
    180deg,
    #19bfec 0%,
    rgba(25, 191, 236, 0.6) 0.01%,
    rgba(6, 19, 51, 0.94) 100%
  );
  transition: opacity 0.5s ease;
  opacity: 1;
}

.OtherProjects:hover {
  opacity: 0.5;
}
