.StyledImage {
  --frame-margin: 10px;
  --frame-margin-hover: 5px;
  margin-top: var(--frame-margin);
}

@screen lg {
  .StyledImage {
    --frame-margin: 20px;
    --frame-margin-hover: 10px;
    margin-top: var(--frame-margin);
  }
}

.StyledImage > * {
  @apply rounded-md;
}

.StyledImage::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  bottom: var(--frame-margin);
  @apply border-2 border-accent rounded-md transition-all duration-300;
}

.StyledImage:hover::after {
  bottom: var(--frame-margin-hover);
}

.StyledImageFrameRight {
  margin-right: var(--frame-margin);
}

.StyledImageFrameRight::after {
  left: var(--frame-margin);
}

.StyledImageFrameRight:hover::after {
  left: var(--frame-margin-hover);
}

.StyledImageFrameLeft {
  margin-left: var(--frame-margin);
}

.StyledImageFrameLeft::after {
  right: var(--frame-margin);
}

.StyledImageFrameLeft:hover::after {
  right: var(--frame-margin-hover);
}
