.TabContent ul {
  @apply px-6 lg:px-10;
}

.TabContent ul li {
  @apply mb-4;
}

.TabContent ul li::before {
  @apply text-accent;
  content: '\2022';
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
